*
{
    box-sizing: border-box;
}
h1
{
    margin: 28px;
}

.container-fluid
{
    background-color: rgb(60, 49, 71);
    color: rgb(231, 233, 255);
    line-height:1.5;
    font-size: 18px;
    width: auto; 
    height: 1000px;
    margin: 26px;
    padding: 16px;
    border: solid 1px;
    box-shadow: 8px;
    overflow: auto;
}

.nav-item a
{
  color: #ffafaf;
  text-align: center;
  
  
}
.nav-item  a:hover
{
    background-color: rgb(223, 219, 255);
    text-shadow: cornsilk;
    
}
header
{
    background-color: rgb(231, 227, 235);
    
}
.navbar-brand
{
    color: cornsilk;
}